@font-face {
  font-family: 'CSLight';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/CoreSansLight.woff') format('woff'),
       url('../fonts/CoreSansLight.ttf') format('ttf'),
       url('../fonts/CoreSansLight.eot') format('eot'),
       url('../fonts/CoreSansLight.otf') format('otf'), 
       url('../fonts/CoreSansLight.svg') format('svg');
}
@font-face {
  font-family: 'sfd';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/skyforge_digits.woff2') format('woff2'),
  	   url('../fonts/skyforge_digits.woff') format('woff'),
       url('../fonts/skyforge_digits.ttf') format('ttf'),
       url('../fonts/skyforge_digits.eot') format('eot'),
       url('../fonts/skyforge_digits.svg') format('svg');
}
body {
	background: url(../img/bg-main.jpg) 0 0 no-repeat;
	-webkit-font-smoothing: antialiased;
}
ul {
	font-size: 0;
	display: inline-block;
}
ul li {
	font-size: 12px;
}

.header {
    background: #fff;
}
.header .row {
	width: 100%;
}
.header .row div {
	min-height: 64px;
	vertical-align: top;
}
.header__menu {
    background: url(../img/b-menu.png) 5% 50% no-repeat;
    width: 20%;
}
.header__logo {
    width: 60%;
    text-align: center;
}
.header__logo img {
    margin-bottom: -10px;
    padding-top: 10px;
}
.header__login {
    background: url(../img/login.png) 95% 50% no-repeat;
    width: 20%;
    text-align: right;
}
.wrap {
	width: 100%;
	min-width: 1240px;
}
.menu .row,
.footer .row {
	width: 1200px;
	padding: 0 20px;
}
.row {
	width: 1240px;
	padding: 0;
	position: relative;
	z-index: 1;
	margin: 0 auto;
	font-size: 0;
}
.wrap .row > div {
	display: inline-block;
}
.menu {
	background: url('../img/bg-top-menu.jpg') 0 0 repeat-y;
	background-color: #fff;
	position: relative;
}
.menu::after,
.top-menu__element:hover:after,
.menu__lang:hover:after {
  content: "";
  background: url('../img/shadow-top-menu.png') 0 -6px no-repeat;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;   
}
.menu__top-menu {
	width: 100%;
	text-align: center;
}
.menu__right-menu {
	position: absolute;
	top: 0;
	right: 20px;
}
.top-menu__element {
	display: inline-block;
	font: 18px CSLight;
	padding: 15px 30px 11px;
	cursor: pointer;
	border-bottom: 4px solid transparent;
	transition: background .5s linear;
	position: relative;
}
.top-menu__element__active {
	border-bottom-color: #647e6b;
}
.top-menu__element:hover {
	background:  #66806d;
	color: #fff;
	transition: background 0.01s linear !important;
}
.top-menu__element:hover:after{

}
.menu__lang {
	cursor: pointer;
	display: inline-block;
	cursor: pointer;
    display: inline-block;
    font-size: 10px;
    height: 52px;
    width: 60px;
    margin: 0 6px;
    text-align: center;
    line-height: 52px;
    vertical-align: top;
    position: relative;
}
.menu__lang:hover {
	background:  #66806d;
	color: #fff;
}
.menu__lang > ul {
	height: 0;
	overflow: hidden;
	position: relative;
	background: rgba(45,53,52,.8);
	transition: height 1s linear 0s;
	
}
.menu__lang:hover > ul {
	display: inline-block;
	height: auto;
	transition: height 1s linear 0s;
	width: 100%;
	padding: 5px 0;
}
.menu__lang:hover .lang__header {
	color: #fff;
}
.lang__element {
	background: url(../img/lng-sprite.png) no-repeat;
    padding-left: 24px;
    height: 15px;
    vertical-align: middle;
    display: block;
    padding: 8px 0 8px 25px;
    line-height: 15px;
    color: #cacaca;
    font: 14px Verdana;
}
.lang__header {
	height: 48px;
    line-height: 52px;
    background-position: 11px 19px;
    margin: 0 0 4px 0;
    padding: 0 0 0 25px;
    color: #000;
    font-size: 13px;
}
.lang__element__ru {
	background-position: 11px 11px;
}
.lang__element__en {
	background-position: 11px -48px;
}
.lang__element__us {
	background-position: 11px -20px;
}
.lang__element__de {
	background-position: 11px -80px;
}
ul > .lang__element:hover {
	background-color: rgba(102,128,109,.5);
	color: #000;
}
.share {
	position: relative;
}
.share:after {
	content: '';
    width: 27px;
    height: 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url(../img/share-sprite.png) no-repeat 2px 2px;
}
.menu__lang:hover .share:after {
	background-position: 2px -24px;
}
.soc__element {
	background: url(../img/soc-sprite.png) no-repeat;
    padding-left: 24px;
    height: 30px;
    vertical-align: middle;
    display: block;
    line-height: 15px;
    padding: 2px 0 2px 24px;
}
.soc__element__vk {
	background-position: 15px 2px;
}
.soc__element__fb {
	background-position: 15px -32px;
}
.soc__element__mr {
	background-position: 15px -66px;
}
.soc__element__ok {
	background-position: 15px -100px;
}
.top-menu-element__drop-down {
	height: 0;
	position: absolute;
    overflow: hidden;
    color: #fff;
    display: inline-block;
    background: rgba(45,53,52,.8);
    left: 0;
    width: 100%;
    top: 100%;
    cursor: pointer;
	text-align: left;
}
.top-menu-element__drop-down li a{
	display: block;
	color: #84c295;
    font: 14px Verdana;
    line-height: 20px;
    cursor: pointer;
    text-decoration: none;
}
.top-menu-element__drop-down li:hover a{
	color: #fff;
}
.top-menu__element:hover .top-menu-element__drop-down {
	height: auto;
    margin-top: 4px;
    padding: 10px;
}
.user {
	margin-top: 330px;
}
.game {
	margin: 18px 0 300px;
}
.user {

}
.user__content {
	background: rgba(45,53,52,.8);
    width: 72%;
    padding: 0;
}
.user__avatar {
	width: 50px;
    margin: 5px 20px;
    display: inline-block;
}
.user__info {
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
}
.user__profile {
	display: inline-block;
	font: 14px Verdana;
	color: rgb(100, 126, 107);
	background: url(../img/profile.png) 0 60% no-repeat;
	padding: 2px 0 0 15px;
	cursor: pointer;
	margin-right: 43px;
}
.user__name {
	font: 18px CSLight;
	color: #fff;
}
.user__logout {
	display: inline-block;
	font: 14px Verdana;
	color: rgb(100, 126, 107);
	background: url(../img/logout.png) 0 80% no-repeat;
	padding: 2px 0 0 15px;
	cursor: pointer;
	margin-right: 43px;
}
.user-avatar__photo {
	width: 100%;
	border-radius: 50%;
}
.content__button {
	background: #a00;
    width: 26.5%;
    font: 18px CSLight;
    color: #fff;
    text-align: center;
    margin-left: 1.5%;
    padding: 20px 0;
    vertical-align: top;
}

.game__header {
	font: 18px CSLight;
	color: #fff;
	background: rgba(45,53,52,.8);
	padding: 10px 20px;
}
.game__left-footer {
	font: 18px CSLight;
	color: #fff;    
	background: rgba(0,0,0,.7);
    position: absolute;
    bottom: 0;
    width: 95%;
    padding: 2% 2.5%;
}
.wrap .row .game__wrap {
    display: block;
}
.game__content {
	background: rgba(255,255,255,.8);
	padding: 20px;
	position: relative;
}
.game__footer {
	color: #fff;
	background: rgba(45,53,52,.8);
	padding: 10px 20px;
	font: 14px Verdana;

}
.game__left {
	width: 62.5%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.game__right {
	display: inline-block;
	width: 36%;
    padding: 0 0 0 1.5%;
	vertical-align: top;
}
.game__left-img {
    overflow: hidden;
    padding: 2%;
}
.game__left-img img{
	width: 114%;
    margin: -5% -8%;
}
.text-small {
	font: 14px Verdana;
	color: #777;
}
.text-large {
	font: 18px CSLight;
}
.text-digit {
	font: 60px sfd;
	padding-top: 11px;
    line-height: 42px;
}
.text-dark {
	color: #000;
}
.game__right__header,
.game__right__author {
	border-bottom: 1px dashed #66806d;
    padding-bottom: 15px;
}
.game__right__author .text-large {
	font: 22px CSLight;
}
.game__right__author {
    padding: 20px 0 20px 20%;
    position: relative;
}
.game__right__author::before {
    margin-left: -18%;
    content: "";
    background: url('../img/avatar.jpg') 0 0 no-repeat;
    width: 15%;
    border-radius: 50%;
    height: auto;
    position: absolute;
    height: 66px;
    background-size: contain;
}
.game__right__vote {
	width: 36%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-top: 30px;
    border-top: 1px dotted green;
}
.game__right__vote--btn {
	background: #a00;
    color: #fff;
    width: 80%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    margin: 0 10%;
}
.footer {
	background: rgba(45,53,52,.8);
	font: 12px Verdana;
	color: #cacaca;
}
.footer__menu {
	width: 50%;
	padding: 20px 0;
	vertical-align: top;
}
.footer__info {
	font-size: 15px;
    text-align: right;
    width: 50%;
}
.footer__menu > ul {
	width: 100%;
}
.footer__menu > ul > li > a {
    font: 18px CSLight;
    display: block;
    line-height: 20px;
    margin-bottom: 10px;
}
.footer__menu ul li a {
	color: #cacaca;
	text-decoration: none;
	line-height: 22px;
}
.footer__menu > ul > li {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}
.footer__info img {
    max-height: 65px;
    margin: 15px 0 0 8px;
}
.footer__info .age {
	max-height: 40px;
}
.footer__info > div {
    padding-bottom: 8px;
    font-size: 12px;
}
.second img {
	margin: 3px;
}
.second span {
	    line-height: 18px;
    vertical-align: top;
}
.second a {
	display: inline;
	vertical-align: top;
}
.second + div img{
	    margin-top: 5px;
}
.footer__info a {
	color: #0072bc;
	text-decoration: none;
}
.big {
	font: 36px sfd;
	float: right;
	color: #daaa00;
	background: url(../img/prestige.png) 0 50% no-repeat;
	position: absolute;
    right: 15px;
    top: 10px;
    padding-left: 40px;
}